DNS_PASSWORD='your_real_password_here'
UPSTREAM_DNS='insert your DNS here' 
WEBSERVER_PORT='insert your port here'
UNBOUND_IMAGE='klutchell/unbound:latest for apple silicon, mvance/unbound:latest for linux'
PIHOLE_DNS='127.0.0.1:5053'
TZ='Your Timezone here'
